<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="" />

  <title>{{ site.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
  <script>
    var downloadFile = function(url){
      var link=document.createElement('a');
      link.href = url;
      link.download = filePath.substr(url);
      link.click();
    }
  </script>
</head>
